.hl_flexor
{
display:flex;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:row;
width:100%;
}
.hl_dn
{
display:none;
}
.hl_btn_type_1
{
width:150px;
height:50px;
display:flex;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:row;
border-radius:5px;
background:linear-gradient(90deg, #00d2ff 0%, #3a47d5 100%);
cursor:pointer;
color:white;
font-size:20px;
font-family:vaz;
transition:all 0.2s;
}
.hl_btn_type_1:hover
{
transform:scale(1.1);
box-shadow:black 0 0 7px -2px;
}
.hl_btn_type_2
{
width:150px;
height:50px;
display:flex;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:row;
border-radius:5px;
background:linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
cursor:pointer;
color:white;
font-size:20px;
font-family:vaz;
transition:all 0.2s;
}
.hl_btn_type_2:hover
{
width:200px;
}
.hl_btn_type_3
{
width:150px;
height:50px;
display:flex;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:row;
border-radius:5px;
background:#63B0FF;
cursor:pointer;
color:white;
font-size:20px;
font-family:vaz;
transition:all 0.2s;
}
.hl_btn_type_3:hover
{
background:#4A84BF;
}
.hl_btn_type_3:active
{
background:#325880;
}
.hl_btn_type_4
{
width:150px;
height:50px;
display:flex;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:row;
border-radius:5px;
background:#63B0FF;
cursor:pointer;
color:white;
font-size:20px;
font-family:vaz;
transition:all 0.2s;
}
.hl_btn_type_4:hover
{
transform:translateY(-8px);
box-shadow:black 0 20px 20px -20px;
}
.hl_btn_type_5
{
width:150px;
height:50px;
display:flex;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:row;
border-radius:5px;
background:#63B0FF;
cursor:pointer;
color:white;
font-size:20px;
font-family:vaz;
transition:all 0.2s;
position:relative;
}
.hl_btn_type_5:before
{
background:-webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
background:radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
content:"";
position:absolute;
bottom:-15px;
width:80%;
height:10px;
transition:all 0.3s;
opacity:0;
}
.hl_btn_type_5:hover:before
{
opacity:1;
transform:translateY(8px);
}
.hl_btn_type_5:hover
{
transform:translateY(-8px);
}
.hl_btn_type_6
{
width:150px;
height:50px;
display:flex;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:row;
border-radius:5px;
background:#63B0FF;
cursor:pointer;
color:white;
font-size:20px;
font-family:vaz;
transition:all 0.3s;
position:relative;
overflow:hidden;
}
.hl_btn_type_6 span
{
z-index:2;
}
.hl_btn_type_6:before
{
content:"";
position:absolute;
top:0;
right:0;
background:#4A84BF;
width:0;
height:100%;
transition:all 0.3s;
}
.hl_btn_type_6:hover:before
{
width:100%;
}
.hl_btn_type_7
{
width:150px;
height:50px;
display:flex;
justify-content:center;
gap:7px;
align-items:center;
align-content:center;
flex-direction:row-reverse;
border-radius:5px;
border:2px solid #63B0FF;
cursor:pointer;
color:black;
font-size:20px;
font-family:vaz;
transition:all 0.2s;
}
.hl_btn_type_7:hover
{
background:#63B0FF;
}
.hl_btn_type_7 img
{
width:17px;
transform:rotate(180deg);
position:relative;
right:0;
transition:all 0.2s;
}
.hl_btn_type_7:hover img
{
right:10px;
}
.hl_btn_type_8
{
width:150px;
height:50px;
display:flex;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:row;
border-radius:5px;
background:#63B0FF;
cursor:pointer;
color:white;
font-size:20px;
font-family:vaz;
transition:all 0.2s;
position:relative;
}
.hl_btn_type_8 div
{
width:150px;
height:50px;
background:#63B0FF;
position:absolute;
top:0;
left:0;
border-radius:5px;
z-index:-1;
transition:all 0.2s;
}
.hl_btn_type_8 div:nth-of-type(1)
{
opacity:0.8;
transform:rotate(5deg);
}
.hl_btn_type_8 div:nth-of-type(2)
{
opacity:0.6;
transform:rotate(10deg);
}
.hl_btn_type_8 div:nth-of-type(3)
{
opacity:0.4;
transform:rotate(15deg);
}
.hl_btn_type_8:hover div
{
transform:rotate(0deg);
}
.hl_btn_type_9
{
width:150px;
height:50px;
display:flex;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:row;
border-radius:55% 45% 73% 27% / 50% 70% 30% 50%;
background:#63B0FF;
cursor:pointer;
color:white;
font-size:20px;
font-family:vaz;
transition:all 0.2s;
}
.hl_btn_type_9:hover
{
transform:scale(1.1);
}
.hl_btn_type_10
{
width:150px;
height:50px;
display:flex;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:row;
border-radius:5px;
cursor:pointer;
color:white;
font-size:20px;
font-family:vaz;
transition:all 0.2s;
position:relative;
}
.hl_btn_type_10 svg
{
position:absolute;
width:100%;
height:100%;
border-radius:5px;
z-index:-1;
}
.hl_btn_type_10:hover
{
transform:scale(1.1);
}
.hl_popup_flexor
{
display:none;
justify-content:center;
align-items:center;
align-content:center;
flex-direction:row;
width:100%;
height:100vh;
position:fixed;
z-index:1000;
}
.hl_popup_bg
{
background:black;
width:100%;
height:100vh;
opacity:0.5;
position:absolute;
z-index:999;
transition:0.5s;
}
.hl_popup_main
{
width:600px;
height:300px;
border-radius:10px;
background:#EDEDED;
z-index:1001;
position:relative;
}
.hl_popup_close
{
width:25px;
position:absolute;
top:15px;
left:15px;
cursor:pointer;
}
@keyframes hl_popup_opacity
{
from{opacity:0;}
to{opacity:0.5;}
}