body
{
margin:0;
padding:0;
border:0;
display:flex;
justify-content:center;
gap:25px;
align-items:center;
align-content:center;
flex-direction:column;
width:100%;
}
@font-face
{
font-family:vaz;
src:url('vazir.ttf');
}
